header {
  background-color: $green;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform .3s ease;
  z-index: 999;
  &.scrolled {
    position: fixed;
    opacity: 1;
    visibility: visible;
  }
  &.reveal {
    transform: translateY(0);
  }
  nav {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 20px;
    @media ($tablet) {
      padding: 0 30px;
    }
    .logo {
      color: $white;
    }
    .nav-links {
      margin-left: auto;
      justify-content: flex-end;
      a {
        color: $white;
        &:first-child {
          margin-right: 18px;
        }
        &:hover {
          border-bottom: 1px solid $white;
        }
        img {
          position: relative;
          top: 4px;
          @media ($tablet) {
            display: none;
          }
        }
        span {
          display: none;
          @media ($tablet) {
            display: inline;
          }
        }
      }
    }
  }
}

.intro {
  display: flex;
  flex-direction: column;
  height: 530px;
  justify-content: center;
  padding: 0 40px;
  max-width: 720px;
  margin: auto;
  @media ($tablet) {
    padding: 0;
    height: 100vh;
  }
  .subtitle {
    color: $green;
    margin-bottom: 20px;
  }
  h1 {
    visibility: hidden;
  }
  .typed {
    @extend %font-times;
    color: $black;
    font-size: 36px;
    line-height: 40px;
    @media ($tablet) {
      font-size: 64px;
      line-height: 70px;
    }
  }
  .typed-cursor {
    .cursor {
      background-color: $green;
      display: inline-block;
      width: 36px;
      height: 36px;
    }
    &.finished {
      margin-left: 20px;
    }
  }
}

.who {
  background-color: $black;
  padding: 60px 30px;
  @media ($tablet) {
    padding: 150px 0;
  }
  > div {
    max-width: 780px;
    margin: auto;
    span {
      color: $green;
    }
    p {
      @extend %font-times;
      color: $white;
      font-size: 20px;
      line-height: 32px;
      margin: 30px 0 20px;
      @media ($tablet) {
        font-size: 28px;
        line-height: 40px;
        margin: 40px 0;
      }
    }
    ul {
      @media ($mobile) {
        display: flex;
        flex-wrap: wrap;
      }
      li {
        color: $green;
        font-size: 16px;
        line-height: 30px;
        @media ($mobile) {
          font-size: 18px;
          width: 33%;
        }
      }
    }
  }
}

.work {
  max-width: 940px;
  margin: auto;
  @media ($tablet) {
    margin: 100px auto 0;
  }
  .hero {
    width: 100%;
    height: 440px;
  }
  .projects {
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
    @media ($tablet-large) {
      padding: 0;
    }
    a {
      margin: 10px 5px 0;
      height: 300px;
      padding: 0 15px;
      width: 100%;
      @media ($tablet-large) {
        margin: 20px 0 0 20px;
        height: 370px;
        &:first-child {
          margin: 20px 0 0;
        }
      }
      &:last-child {
        display: none;
        @media ($tablet) {
          display: flex;
        }
      }
    }
  }
  a {
    background-color: $green;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    transition: top .25s ease;
    top: 0;
    &:hover {
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.18);
      top: -5px;
      @media ($tablet) {
        top: -10px;
      }
    }
    &.onyx {
      width: 100%;
      height: 440px;
    }
    span {
      color: $white;
      line-height: 23px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

.relationships {
  padding: 70px 0 80px;
  text-align: center;
  @media ($tablet) {
    padding: 120px 0;
  }
  span {
    color: $green;
    display: block;
    margin-bottom: 30px;
  }
  ul {
    li {
      @extend %font-times;
      font-size: 26px;
      line-height: 40px;
      @media ($tablet) {
        font-size: 36px;
        line-height: 60px;
      }
      a:hover {
        border-bottom: 1px dashed $green;
      }
    }
  }
}

.video {
  background-color: $green;
  width: 100%;
  max-width: 940px;
  margin: auto;
  height: 220px;
  @media ($tablet) {
    height: 540px;
  }
}

.contact {
  text-align: right;
  padding: 50px 70px 40px;
  max-width: 940px;
  margin: auto;
  @media ($tablet) {
    padding: 120px 0 100px;
    display: flex;
    justify-content: flex-end;
  }
  .section-title {
    color: $green;
    display: block;
    margin-bottom: 20px;
    @media ($tablet) {
      width: 25%;
    }
  }
  .contact-info-container {
    @media ($tablet) {
      width: 25%;
    }
  }
  .contact-info {
    display: block;
    line-height: 30px;
  }
  ul {
    margin-top: 20px;
    @media ($tablet) {
      width: 25%;
      margin-top: 0;
    }
    li {
      a {
        @extend %font-times;
        font-size: 20px;
        line-height: 32px;
        @media ($tablet) {
          font-size: 28px;
          line-height: 50px;
        }
        &:hover {
          border-bottom: 1px dashed $green;
        }
      }
    }
  }
}

.send-message {
  padding: 0 10px 20px;
  @media ($tablet) {
    padding: 0 0 60px;
  }
  a {
    background-color: $green;
    color: $white;
    height: 110px;
    width: 100%;
    max-width: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: top .25s ease;
    top: 0;
    &:hover {
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.18);
      top: -10px;
    }
  }
}
