/* Fonts */
@font-face {
  font-family: 'circular-std-bold';
  src: url('/assets/fonts/CircularStd-Bold.woff2') format('woff2'),
       url('/assets/fonts/CircularStd-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

%font-times {
  font-family: 'times';
  font-weight: 400;
}

%font-circular {
  font-family: 'circular-std-bold';
  font-weight: 700;
}

/* Grid */
$mobile:        "min-width: 600px";
$tablet:        "min-width: 768px";
$tablet-large:  "min-width: 960px";
$desktop:       "min-width: 1024px";
$desktop-large: "min-width: 1800px";

/* Colors */
$white: #fff;
$black: #000;
$green: #00EBB4;

body {
  @extend %font-circular;
  background: $white;
  font-size: 18px;
  line-height: 18px;
}

a {
  color: $black;
  &:hover {
    color: $green;
  }
}
